@page "/"
<div class="command-center-grid">
    <XaiRiskMonitor />
    <PerformanceMonitor />
    
    <DataIngestion />
    <AddRecordForm />
    
    <div class="full-width-tier">
        <ShipmentLedger />
    </div>
</div>
