@page "/"

<div class="dashboard-wrapper">
    <header class="dashboard-header">AHS Data Vault / Pharma Suite</header>
    
    <section class="main-content">
        <XaiRiskMonitor />
        <DataIngestion />
        <AddRecordForm />
    </section>

    <footer class="px-4 pb-5">
        <ShipmentLedger />
    </footer>
</div>
