@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main class="main-body">
        <div class="container-fluid p-0">
            @Body
        </div>
    </main>
</div>
