
@inherits LayoutComponentBase

<div class="sovereign-container">

    @Body
</div>

<style>
    .sovereign-container {
 margin: 0;
 padding: 0;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 
}</style>


